.MuiFormControl-root {
  > label {
    margin-bottom: 2px;
  }
  .MuiFormHelperText-root {
    margin: 2px 0px 0px;
    font-size: 14px;
  }
}

.MuiTableContainer-root {
  margin: 24px 0px;

  .MuiTableRow-root:hover {
    background-color: #00000006;
  }
  .MuiTableCell-head {
    padding: 12px 12px;
  }
  .MuiTableCell-body {
    padding: 12px 12px;
  }
}

.MuiDialog-root {
  .MuiDialogTitle-root {
    padding: 12px 16px;
    font-size: 24px;
    font-weight: 700;
  }
  .MuiDialogContent-root {
    min-height: 120px;
    padding: 16px 16px !important;
  }
  .MuiDialogActions-root {
    padding: 12px 16px;
  }
}

.MuiTabs-root {
  .MuiTabs-flexContainer {
    border-bottom: 1px solid #0003;
  }
  .MuiTab-root {
    border: 1px solid transparent;
    border-radius: 4px 4px 0px 0px;

    &.Mui-selected {
      border-color: #0003;
      border-bottom-color: transparent;
    }
  }
}

.MuiAccordion-root {
  &.MuiPaper-root::before {
    content: none;
  }
  .MuiAccordionSummary-root.Mui-expanded {
    min-height: 0;
  }
  .MuiAccordionSummary-content.Mui-expanded {
    margin: 12px 0;
  }
}

.MuiLoadingButton-root {
  .MuiLoadingButton-loadingIndicator {
    position: static;
    left: 0px;
    margin-left: 4px;
    color: #fff9 !important;
  }

  &.MuiLoadingButton-loading {
    color: #fff9 !important;
  }
}

.MuiButton-root {
  &.MuiButton-outlinedInherit {
    border-color: #0008;
    color: #000b;
  }
}

.SnackbarContainer-top {
  top: 72px !important;

  .SnackbarContent-root {
    .SnackbarItem-message {
      font-size: 16px;
      font-family: 'Montserrat';

      .MuiSvgIcon-root {
        width: 22px;
        height: 22px;
      }
    }
  }
}
